Xft.dpi:        96
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba:       rgb

! === Xterm Configuration ===
XTerm.termName:        xterm-256color
XTerm*locale:          false
XTerm*utf8:            true
XTerm*background:      black
XTerm*foreground:      white
XTerm*faceName:        DejaVu Sans Mono
XTerm*faceSize:        14
XTerm*scrollBar:       on
XTerm*scrollBar.width: 4
XTerm*saveLines:       999
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
   
!Use the X display displayname, instead of  the  default  display.
!ratmenu*display:  displayname

! Look in /etc/X11/rgb.txt for supported color names
ratmenu*fgcolor:  orange
ratmenu*bgcolor:  black

! Look in /etc/X11/fonts/*/*.alias for possible fonts */
!ratmenu*font:     -dosemu-vga-medium-r-normal--20-200-75-75-c-100-ibm-cp866
!ratmenu*font:     vga

! Possible values: (1, 2, 3, ...) Default 1.
ratmenu*io:    2

! Possible values: snazzy, dreary
ratmenu*style:    dreary

! Possible values: true, false
ratmenu*persist:  true

! Possible values: left, center, right
ratmenu*align:    left

! Look in /etc/shells
ratmenu*shell:    $SHELL
